body {
  background-color: rgb(168, 148, 148);
}
.container {
  align-items: center;
}
.country__name {
  text-align: center;
}
.country__wraper {
  display: flex;
  justify-content: center;
}
.search {
  text-align: center;
}
.country__img {
  margin-left: 5%;
  width: 20%;
}
